body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: white;
	color: black;
}

a {
	color:lightcyan;
}


/*Index Homepage*/

.index-intro {
  font-size: 4.8vw;
  margin-bottom: 5vh;
  margin-top: 5vh;
  text-align: center;
}

.index-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  margin: 5px 0;
  border-top: 2px solid black;
}

.index-name {
  flex: 0 0 25%;
}

.index-layer {
  flex: 0 0 25%;
}

.index-tag {
  flex: 0 0 50%;
}

/*uber-1*/
.uber-1{
width: 100vw;
height: 100vh;
background-color:lightcyan; 
}

.uber--1 {
font-size: 200px;
position:fixed;
animation: uber 4s infinite linear alternate;
}

@keyframes uber {
  
  0% {
  top:40%;
  left:150%;
  }

  100% {
  top:40%;
  left:-50%;
  }
}

/*uber-2*/
.uber-2 img {
width: 5%;
margin-top:10%;
margin-left: 20%;


  /*   add your animation name and settings here */
animation-name:spinUG;
animation-duration:10s;
transform: rotateY(45deg);
animation: rotateAnimation 1.5s linear infinite;

}

.uber--2 img {
width: 10%;
margin-top:5%;
margin-left: 80%;


  /*   add your animation name and settings here */
animation-name:spinUG;
animation-duration:10s;
transform: rotateY(45deg);
animation: rotateAnimation 1.5s linear infinite;

}

/*   add your starting state and your end state  */


@keyframes rotateAnimation {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}

.uber---2 img {
width: 10%;
margin-top:10%;
margin-left: 5%;


  /*   add your animation name and settings here */
animation-name:spinUG;
animation-duration:10s;
transform: rotateY(45deg);
animation: rotateAnimation 1.5s linear infinite;

}

/*   add your starting state and your end state  */


@keyframes rotateAnimation {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}

.uber----2 img {
width: 5%;
margin-top:-100%;
margin-left: 0%;


  /*   add your animation name and settings here */
animation-name:spinUG;
animation-duration:10s;
transform: rotateY(45deg);
animation: rotateAnimation 1.5s linear infinite;

}

/*   add your starting state and your end state  */


@keyframes rotateAnimation {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}

.uber-----2 img {
width: 5%;
margin-top:-100%;
margin-left: 80%;


  /*   add your animation name and settings here */
animation-name:spinUG;
animation-duration:10s;
transform: rotateY(45deg);
animation: rotateAnimation 1.5s linear infinite;

}

/*   add your starting state and your end state  */


@keyframes rotateAnimation {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}

/*uber-3*/

/*myki-1*/
.myki-1 img {
width: 30%;
margin-top:0%;
margin-left: 0%;
position:fixed;
animation: myki 2s infinite linear alternate;
}

@keyframes myki {
  
  0% {
  top:-50%;
  }

  100% {
  top:70%;
  }
}

.myki--1 img {
width: 30%;
margin-top:0%;
margin-left: 23%;
position:fixed;
animation: myki 1.5s infinite linear alternate;
}

@keyframes myki {
  
  0% {
  top:0%;
  }

  100% {
  top:100%;
  }

}

.myki---1 img {
width: 30%;
margin-top:10%;
margin-left: 46%;
position:fixed;
animation: myki 2.5s infinite linear alternate;
}

@keyframes myki {
  
  0% {
  top:30%;
  }

  100% {
  top:90%;
  }

}

.myki----1 img {
width: 30%;
margin-top:0%;
margin-left: 69%;
position:fixed;
animation: myki 1s infinite linear alternate;
}

@keyframes myki {
  
  0% {
  top:-10%;
  }

  100% {
  top:80%;
  }
}

/*myki-2*/
.cloud-dots {
  font-size: 20px
  flex: 0 0 20%;
  color: white;
  background-image: linear-gradient(black,white,black,white,black);
  width: 100vw;
  height: 20vh;
  border-radius: 0%;
  animation: bgpos 1s infinite linear;
}

@keyframes bgpos {
  0% {
  background-position:0 0px;
  }

  100% {
  background-position:0 300px;
  }
}



.all-blocks {
  display: flex;
}

.all-blocks div {
  border-radius: 200px;
  animation:blur 2s infinite alternate;
  width: 100vw;
  height: 100vh;
}

@keyframes blur {
  0% {
      filter:blur(50px);
  }
  
  100%{
      filter:blur(0px);
  }
}


.ball {
  width:200px;
  height:200px;  
  border-radius:50%;
  position:fixed;
  top:10%;
  left:20%;
  animation: ball 4s infinite linear alternate;
}

@keyframes ball {
  
  0% {
  top:20%;
  left:0%;
  }
  
  33% {
  top:0%;
  left:80%;
  }
  
  66% {
  top:70%;
  left:55%;
  }

  100% {
  top:20%;
  left:0%;
  }
  
}

.background {
	background-color: lime;
}

.mass {
  display: flex;
  flex-wrap:wrap;
  justify-content:space-around;
  align-content:space-around;
  height:100vh;
  width:100vw;
}

.box {
  background-color: lemonchiffon;
  width:20%;
  height:25%;
}


.box-1 {
  background-color: peachpuff;
  width:20%;
  height:25%;
  backface-visibility: visible;
  transform: rotateY(45deg);
  animation: rotateAnimation 3s linear infinite;

}

@keyframes rotateAnimation {
	from {transform: rotateY(360deg);}
	to {transform: rotateY(0deg);}
}


/*Could Pattern*/

.cloud-pattern{
	width:100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	background-image: linear-gradient(white,white);

}

.cloud-circle-1{
	width:16.6vw;
	height:20vh;
	background-image: linear-gradient(purple,red);
	border-radius:20%;
	display: flex;
	flex-wrap: wrap;

}

.cloud-circle-2{
	width:16.6vw;
	height:20vh;
	background-image: linear-gradient(red,orange);
	border-radius:20%;
	display: flex;
	flex-wrap: wrap;

}

.cloud-circle-3{
	width:16.6vw;
	height:20vh;
	background-image: linear-gradient(orange,yellow);
	border-radius:20%;
	display: flex;
	flex-wrap: wrap;

}

.cloud-circle-4{
	width:16.6vw;
	height:20vh;
	background-image: linear-gradient(yellow,green);
	border-radius:20%;
	display: flex;
	flex-wrap: wrap;

}
.cloud-circle-5{
	width:16.6vw;
	height:20vh;
	background-image: linear-gradient(green,aqua);
	border-radius:20%;
	display: flex;
	flex-wrap: wrap;

}
.cloud-circle-6{
	width:16.6vw;
	height:20vh;
	background-image: linear-gradient(aqua,blue);
	border-radius:20%;
	display: flex;
	flex-wrap: wrap;

}
.cloud-circle-7{
	width:16.6vw;
	height:20vh;
	background-image: linear-gradient(blue,purple);
	border-radius:20%;
	display: flex;
	flex-wrap: wrap;

}


.rectangle-1{
	width:12vw;
	height:20vh;
	background-image: linear-gradient(red,red);
	border-radius:0%;
	display: flex;
	flex-wrap: wrap;

}

.rectangle-2{
	width:12vw;
	height:20vh;
	background-image: linear-gradient(black,black);
	border-radius:0%;
	display: flex;
	flex-wrap: wrap;

}

.rectangle-3{
	width:12vw;
	height:20vh;
	background-image: linear-gradient(aquamarine,aquamarine);
	border-radius:0%;
	display: flex;
	flex-wrap: wrap;

}

.rectangle-4{
	width:12vw;
	height:20vh;
	background-image: linear-gradient(deeppink, deeppink);
	border-radius:0%;
	display: flex;
	flex-wrap: wrap;

}

.rectangle-5{
	width:12vw;
	height:20vh;
	background-image: linear-gradient(yellow,yellow);
	border-radius:0%;
	display: flex;
	flex-wrap: wrap;

}

.rectangle-6{
	width:12vw;
	height:20vh;
	background-image: linear-gradient(blueviolet,blueviolet);
	border-radius:0%;
	display: flex;
	flex-wrap: wrap;

}

.rectangle-7{
	width:12vw;
	height:20vh;
	background-image: linear-gradient(deepskyblue,deepskyblue);
	border-radius:0%;
	display: flex;
	flex-wrap: wrap;

}

.rectangle-8{
	width:12vw;
	height:20vh;
	background-image: linear-gradient(darkorange,darkorange);
	border-radius:0%;
	display: flex;
	flex-wrap: wrap;

}

.chip-container{
	width:100vw;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;

}

.chip-text{
	color:gray;
	border:1px solid gray;
	font-size:5vw;

}

.chip{

	width:60vh;
	height:60vh;
	display:flex;
	align-items:center;
	justify-content:center;
    border:1px solid gray;
    padding:5vh;
    background-color: black;
}

.mailbarcode {
	width:100vw;
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gray {
	background-color: gray;
}

.barcode {
	width: 200vw;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.barcode img {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.scan {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index:-1;
}

.scan .barcode {
	justify-content: flex-start;
}

.scanbox {
	width: 100%;
	height: 100%;
	background-color: black;


/*barcode animation effect*/
	animation-name: scaner;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
  	animation-direction: alternate;
}

@keyframes scaner {
  
  0% {
    width:0px;
  }
  
  100% {
    width:100vw;
  }
  
  
}

.blocks-rgb {
	perspective: 500px;	
	display: flex;
	justify-content: center;
	align-items: center;
	backface-visibility: visible;
}

/*wifi-1*/
.square {
	backface-visibility: visible;
	width: 500px;
	height: 500px;
  text-align: center;
  margin-top: 250px;
  margin-left: 200px;
	background: transparent;
	font-size: 200px;
	transform: rotateY(45deg);
	animation: rotateAnimation 1.5s linear infinite;
}

@keyframes rotateAnimation {
	from {transform: rotateY(0deg);}
	to {transform: rotateY(360deg);}
}


/*uber*/
.outline-black {
  font-size: 200px;
  color:transparent;
  -webkit-text-stroke: 2px black;
  position: fixed;
  z-index:1;
  margin-left: 210px;
  margin-top: 220px;
  display: flex;
  flex-wrap: wrap;
}

.outline-black {
  color:transparent;
  -webkit-text-stroke: 2px black;
  position: fixed;
  z-index:1;
  margin-left: 200px;
}
.bw {
  width: 100vw;
  height:500vh;
  background-image: linear-gradient(to left, white, gray, white, gray, white, gray, white , gray, white, gray, white, gray, white);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  


  /*   add your animation name and settings here */
  animation-name: GRID ;
  animation-duration:4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

/*   add your starting state and your end state  */
@keyframes GRID {
  
  0% {
    width:100%;
  }
  
  100% {
    width:0%;
  }
  
  
}

.cloud-pattern{
	width:100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	background-image: linear-gradient(black,black)
}

.wifi-3 {
  width: 100px;
  height:180px;
  margin-left:90px;
  margin-top: 350px;
  background-color: white;
  border-radius:0%;
  opacity: 1;

/*   add your animation name and settings here */
  animation-name:growUG;
  animation-duration:5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

/*   add your starting state and your end state  */
@keyframes growUG {
  
  0% {
    opacity:1;
  }
  
  50% {
    opacity:0.1;
  }

  100% {
    opacity:1;
  }
  
}


.wifi-4 {
  width: 100px;
  height:250px;
  margin-left:100px;
  margin-top: 280px;
  background-color: white;
  border-radius:0%;
 opacity: 1;

/*   add your animation name and settings here */
  animation-name:growUG;
  animation-duration:5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

/*   add your starting state and your end state  */
@keyframes growUG {
  
  0% {
    opacity:1;
  }
  
  50% {
    opacity:0.1;
  }

  100% {
    opacity:1;
  }
  
}

.wifi-5 {
  width: 100px;
  height:320px;
  margin-left:100px;
  margin-top: 210px;
  background-color: white;
  border-radius:0%;
  opacity: 1;

/*   add your animation name and settings here */
  animation-name:growUG;
  animation-duration:5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

/*   add your starting state and your end state  */
@keyframes growUG {
  
  0% {
    opacity:1;
  }
  
  50% {
    opacity:0.1;
  }

  100% {
    opacity:1;
  }
  
}

.wifi-6 {
  width: 100px;
  height:390px;
  margin-left:110px;
  margin-top: 140px;
  background-color: white;
  border-radius:0%;
  opacity: 1;

    /*   add your animation name and settings here */
  animation-name:growUG;
  animation-duration:5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

/*   add your starting state and your end state  */
@keyframes growUG {
  
  0% {
    opacity:1;
  }
  
  50% {
    opacity:0.1;
  }

  100% {
    opacity:1;
  }
  
}



















