body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: white;
	color: white;
}

a {
	color:red;
}


/*Index Homepage*/

.index-intro {
font-size: 18px;
margin-bottom: 25vh;
padding: 10px;
}

.index-row{
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	border-top: 2px solid white;
	
}

.index-name{
    flex:0 0 50%;

}

.index-layer{
    flex:0 0 25%;
}

.index-tag{
	flex:0 0 25%;

}
/*IP Address*/
/*  background-color:blue;
    background-color:magenta;
	background-color:cyan;
	background-color:lightslategray;
	background-color:yellow;*/
.ip{
	
	background-color:lime;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items:center;
	justify-content: center; 


}

.ip-text{
	font-size:16vw;
	text-align: center;
	color: black;

}

/*Checkers*/

.checkers{
	display:flex;
	flex-wrap: wrap;

}

.checkers-white{
	width:50vw;
	height:50vw;
	background-color:white;

}

.checkers-black{
    width:50vw;
	height:50vw;
	background-color:blue;

}

/*Checker type*/
.checker-type{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;


}

.checker-text{
	font-size: 30vw;
	color: magenta;
	bottom: 30px solid magenta;
	padding: 2vw;
	border-radius: 5vw;

}

/*Could Pattern*/

.cloud-pattern{
	display: flex;
	flex-wrap: wrap;
	background-image: linear-gradient(white,blue);

}

.cloud-circle{
	width:25vw;
	height:33.33vh;
	background-image: linear-gradient(blue,white);
	border-radius: 50%;

}

.chip-container{
	width:100vw;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;

}

.chip-text{
	color:gray;
	border:1px solid gray;
	font-size:5vw;

}

.chip{

	width:60vh;
	height:60vh;
	display:flex;
	align-items:center;
	justify-content:center;
    border:1px solid gray;
    padding:5vh;
    background-color: black;
}

.mailbarcode {
	width:100vw;
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gray {
	background-color: gray;
}

.barcode {
	width: 200vw;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.barcode img {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.scan {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index:-1;
}

.scan .barcode {
	justify-content: flex-start;
}

.scanbox {
	width: 100%;
	height: 100%;
	background-color: black;


/*barcode animation effect*/
	animation-name: scaner;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
  	animation-direction: alternate;
}

@keyframes scaner {
  
  0% {
    width:0px;
  }
  
  100% {
    width:100vw;
  }
  
  
}

div {
	perspective: 500px;	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	backface-visibility: visible;
}

.square {
	backface-visibility: visible;
	width: 500px;
	height: 500px;
	background: transparent;
	font-size: 200px;
	transform: rotateY(45deg);
	animation: rotateAnimation 1.5s linear infinite;

}

@keyframes rotateAnimation {
	from {transform: rotateY(0deg);}
	to {transform: rotateY(360deg);}
}


/*uber*/
.box {
  width: 1500px;
  height:50px;
  background-image: linear-gradient(to left, lime, blue);
  justify-content: center;
  align-items: center;
  /*   add your animation name and settings here */
  animation-name:growUG;
  animation-duration:2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

/*   add your starting state and your end state  */
@keyframes growUG {
  
  0% {
    width:100%;
  }
  
  100% {
    width:0%;
  }
  
  
}













