body {
	font-family: myriad pro;
	font-size: 24px;
	background: black;
}

a {
	color: white;
	text-decoration: none;
}

.grid {
	display: flex;
	flex-wrap: wrap;
}

.left {
	color: black;
	background-color:lemonchiffon;
	flex:0 0 50%;
	height: 100vh;
	overflow: scroll;
}

.left-content {
  
  padding: 20px;
  line-height: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px 10px;
  border-bottom: 1px solid black;
  font-size: 30px;
  font-family: silom;
}

.left-content-1 {
  cursor: pointer;
  padding: 20px;
  line-height: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px 10px;
  font-family: silom;
}

.left-content-2 {
  padding: 20px;
  line-height: 35px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px 10px;
  margin-top: -40px;
  border-bottom: 1px solid black;
  font-family: silom;
}
.right {
	color: white;
	background-color: black;
	flex:0 0 50%;
	height: 100vh;
	overflow: scroll;
	display: none;	
}

.active {
	display: block;
}

.right-content {
	padding: 10px;
}

.right-content-1 {
	padding: 5px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 10px;
	font-family: silom;
	font-size: 30px;
	color:orange;
	line-height: 35px;
}

.right-content--1 {
	padding: 5px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 10px;
	font-family: silom;
	color:yellow;
	font-size: 20px;
	line-height: 20px;
	margin-top: -10px;
}

.right-content---1 {
	padding: 5px;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 10px;
	font-family: silom;
	font-size: 18px;
	line-height: 22px;
	margin-top: 20px;
}

.right img {
	width: 100%;
}
